DATABASE_URL="postgresql://rezno:change_me_in_prod@localhost:5432/rezno?schema=public"
BETTER_AUTH_SECRET="replace-with-at-least-32-random-characters"
BETTER_AUTH_URL="http://localhost:3000"
REZNO_ADMIN_EMAILS="admin@example.com,owner@example.com"
